.container-fluid {
    text-align: center;
}
#date1 {
	padding: 20px;
}
#date1 .ui-datepicker {
    margin: 0 auto;
}
#calculated {
    display: inline;
    border: 0;
    width: 100px;
    color: blue;
}
